<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>allProducts</title>
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
    <script src="/js/bootstrap.js"></script>
    <link rel="stylesheet" href="src/css/allpage.css" />
  </head>
  <body onload="fetchData()">
    <%- include("../components/navigation")%>
    <div class="div-second">
      <div>
        <table class="table table-hover">
          <thead>
            <tr id="productHeader"></tr>
          </thead>
          <tbody id="productData"></tbody>
        </table>
      </div>
    </div>
    <script src="/js/reports/allProducts.js"></script>
  </body>
</html>
