<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <!-- <link rel="stylesheet" href="/src/css/dashboard/dashboard.css"> -->
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <script src="/js/dashboard/dashboard.js"></script>
</head>

<body>
  <%- include('../components/navigation')%>
    <!-- <section class="dashboardSection">
      <div class="dashboardSectionContainer">
        <div class="sidebar" id="sidebar">
          <p onclick="sideClose()">Inventory Management</p>
          <ul class="navigation">
            <li>Dashboard</li>
            <li>Profile Details</li>
            <li>Manage Products</li>
            <li>Manage Managers</li>
            <li>Manage Customers</li>
            <li>Manage Supplier</li>
            <li>Manage Warehouse</li>
            <li onlick="showSublist()">Manage Purchase &#x2193;
            </li>
            <ul class="sublistPurchaseOrders">
              <li>Purchase Orders</li>
              <li>Purchase History</li>
            </ul>
            <li onlick="showSublist()">Manage Sales &#x2193;
            </li>
            <ul class="sublistSalesOrders">
              <li>Sales Orders</li>
              <li>Sales History</li>
            </ul>
          </ul>
        </div>
        <div class="dashboardContent">
          <div class="header">
            <p onclick="show()">Show</p>
            <p class="username" onclick="show()">ADMIN</p>
            <ul class="usernametoggle">
              <li>Logout</li>
            </ul>
          </div>

          <div class="contentContainer">
          </div>
        </div>
      </div>
    </section> -->
</body>

</html>