<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Error Page</title>
  <link rel="stylesheet" href="src/css/components/errorPage.css" />
</head>

<body>
  <div class="text">
    <div>ERROR</div>
    <h1>404</h1>
    <hr>
    <div>Page Not Found</div>
  </div>
</body>

</html>