<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="src/css/components/messagePopUp.css">
</head>

<body>
  <section class="messagePopUpSection">
    <div class="messagePopUpSection__container" id="messagePopUpSection__container">
    </div>
  </section>
</body>

</html>