<link rel="stylesheet" href="src/css/navigation.css" />

<div id="navdiv1">
  <div class="position-absolute top-0 start-0 d-flex z-1 main-div">
    <div class="nav-costom1">
      <div class="container-fluid">
        <div class="row flex-nowrap">
          <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 width-100 bgColor">
            <div class="my-3 mx-5" style="height: 50px">
              <img src="icons/logo.svg" alt="img" height="50" width="50" />
            </div>
            <div class="d-flex flex-column align-items-center align-items-sm-start pt-2 mx-3 min-vh-100 div-h">
              <div class="btn my-2 width-100">
                <a href="/dashboard" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/home.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Dashboard</span>
                </a>
              </div>
              <div class="btn my-2 width-100">
                <a href="/" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/Products.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Products</span>
                </a>
              </div>
              <div class="btn my-2 width-100">
                <a href="/getmanager" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/manager.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Managers</span>
                </a>
              </div>
              <div class="btn my-2 width-100">
                <a href="/manageCustomers" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/customer.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Customers</span>
                </a>
              </div>
              <div class="btn my-2 width-100">
                <a href="/" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/supplier.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Suppliers</span>
                </a>
              </div>
              <div class="btn my-2 width-100">
                <a href="/store" class="d-flex align-items-center justify-content-start nav-link"><img
                    src="icons/warehouses.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Warehouses</span>
                </a>
              </div>
              <div class="btn my-2 width-100" data-bs-toggle="collapse" data-bs-target="#submenu1" aria-expanded="false"
                aria-controls="submenu1">
                <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25" height="15" />
                <a class="d-flex align-items-center justify-content-start nav-link">
                  <img src="icons/purchase.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Purchase</span>
                </a>
                <div class="collapse collapse-horizontal" id="submenu1">
                  <ul class="dis-flex nav flex-row ms-1">
                    <li>
                      <a href="/" class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/order.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">Order</span>
                      </a>
                    </li>
                    <li>
                      <a href="/" class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/history.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">History</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="btn my-2 width-100" data-bs-toggle="collapse" data-bs-target="#submenu2"
                aria-expanded="false">
                <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25" height="15" />
                <a class="d-flex align-items-center justify-content-start nav-link">
                  <img src="icons/sales.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Sales</span>
                </a>
                <div class="collapse collapse-horizontal" id="submenu2">
                  <ul class="dis-flex nav flex-row ms-1">
                    <li>
                      <a href="/" class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/order.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">Order</span>
                      </a>
                    </li>
                    <li>
                      <a href="/" class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/history.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">History</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
              <div class="btn my-2 width-100" data-bs-toggle="collapse" data-bs-target="#submenu3"
                aria-expanded="false">
                <img src="icons/downarrow.svg" alt="img" class="float-end mt-1" width="25" height="15" />
                <a class="d-flex align-items-center justify-content-start nav-link">
                  <img src="icons/sales.svg" alt="img" width="30" height="20" />
                  <span class="fs-6 mx-2 text-light">Reports</span>
                </a>
                <div class="collapse collapse-horizontal" id="submenu3">
                  <ul class="dis-flex nav flex-row ms-1">
                    <li>
                      <a href="/purchaseReport"
                        class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/purchase.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">Purchase </span>
                      </a>
                    </li>
                    <li>
                      <a href="/sallesReport"
                        class="d-flex align-items-center justify-content-start nav-link text-dark"><img
                          src="icons/history.svg" alt="img" width="30" height="20" />
                        <span class="fs-6 mx-2 text-light">Salles</span>
                      </a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav class="navbar bg-body nav-costom2">
      <div class="container-fluid">
        <p class="navbar-brand fs-3 b"><b> Inventory Management </b></p>
        <div class="m-1">
          <div>
            <img src="icons/notification.svg" alt="img" width="25" height="25" />
            <img src="icons/exit.svg" class="mx-2" alt="img" width="30" height="30" />
            <a href="/profile">
              <img src="icons/profile.png" alt="img" width="30" height="30" class="rounded-circle" />
            </a>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>