<link rel="stylesheet" href="src/css/dashboard/dashboard.css" />
<div class="d-flex justify-content-center align-items-center w-100 h-100">
	<div class="position-absolute top-0 start-0 z-1 nav-costom1">
		<div class="container-fluid">
			<div class="row flex-nowrap">
				<div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-body width-100">
					<div class="my-3" style="height: 50px"><img src="" alt="" /></div>
					<div
						class="d-flex flex-column align-items-center align-items-sm-start pt-2 mx-3 min-vh-100"
					>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img src="icons/home.svg" alt="img" width="30" height="20" />
								<span class="fs-6 mx-2">Dashbord</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img
									src="icons/Products.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Products</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img
									src="icons/manager.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Managers</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img
									src="icons/customer.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Customers</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img
									src="icons/supplier.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Suppliers</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<a
								href="/"
								class="d-flex align-items-center justify-content-start nav-link"
								><img
									src="icons/warehouses.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Warehouses</span>
							</a>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<img
								src="icons/downarrow.svg"
								alt="img"
								class="float-end mt-1"
								width="25"
								height="15"
							/>
							<a
								href="#submenu1"
								data-bs-toggle="collapse"
								class="d-flex align-items-center justify-content-start nav-link"
							>
								<img
									src="icons/purchase.svg"
									alt="img"
									width="30"
									height="20"
								/>
								<span class="fs-6 mx-2">Purchase</span>
							</a>
							<ul class="dis-flex nav flex-row ms-1" id="submenu1">
								<li>
									<a
										href="/"
										class="d-flex align-items-center justify-content-start nav-link text-dark"
										><img
											src="icons/order.svg"
											alt="img"
											width="30"
											height="20"
										/>
										<span class="fs-6 mx-2">Order</span>
									</a>
								</li>
								<li>
									<a
										href="/"
										class="d-flex align-items-center justify-content-start nav-link text-dark"
										><img
											src="icons/history.svg"
											alt="img"
											width="30"
											height="20"
										/>
										<span class="fs-6 mx-2">History</span>
									</a>
								</li>
							</ul>
						</div>
						<div class="btn border border-dark my-2 width-100">
							<img
								src="icons/downarrow.svg"
								alt="img"
								class="float-end mt-1"
								width="25"
								height="15"
							/>
							<a
								href="#submenu2"
								data-bs-toggle="collapse"
								class="d-flex align-items-center justify-content-start nav-link"
							>
								<img src="icons/sales.svg" alt="img" width="30" height="20" />
								<span class="fs-6 mx-2">Sales</span>
							</a>
							<ul class="dis-flex nav flex-row ms-1" id="submenu2">
								<li>
									<a
										href="/"
										class="d-flex align-items-center justify-content-start nav-link text-dark"
										><img
											src="icons/order.svg"
											alt="img"
											width="30"
											height="20"
										/>
										<span class="fs-6 mx-2">Order</span>
									</a>
								</li>
								<li>
									<a
										href="/"
										class="d-flex align-items-center justify-content-start nav-link text-dark"
										><img
											src="icons/history.svg"
											alt="img"
											width="30"
											height="20"
										/>
										<span class="fs-6 mx-2">History</span>
									</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<nav class="navbar bg-body nav-costom2 w-100">
		<div class="container-fluid">
			<p class="navbar-brand fs-3 b"><b> Inventory Management </b></p>
			<div class="m-1">
				<div>
					<img src="icons/notification.svg" alt="img" width="25" height="25" />
					<img
						src="icons/exit.svg"
						class="mx-2"
						alt="img"
						width="30"
						height="30"
					/>
					<img
						src="https://github.com/mdo.png"
						alt="img"
						width="30"
						height="30"
						class="rounded-circle"
					/>
				</div>
			</div>
		</div>
	</nav>
</div>
