<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Paggination Component</title>
    <link rel="stylesheet" href="src/css/components/pagginationComponent.css">
    <script src="js/components/pagginationComponent.js"></script>
</head>

<body>
    <section class="pagginationsection">
        <div class="pagginationcontainer">
            <div class="rowpaggination">
                <div class="colpaggination" id="leftbutton">
                    <a class="pagginationbutton doubleleft" id="doubleleft" onclick="doubleLeftButton()">DL
                    </a>
                    <a class="pagginationbutton singleleft" onclick="singleLeftButton()">SL</a>
                </div>
                <div class="pagenumber">
                    <p id="currentpageshow" class="currentpageshow">Page</p>
                </div>
                <div class="colpaggination">
                    <a class="pagginationbutton singleright" onclick="singleRightButton()">SR</a>
                    <a class=" pagginationbutton doubleright" onclick="doubleRightButton()">DR</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>