.nav-costom1 {
  width: 210px;
}

.logout-container {
  display: flex;
  justify-content: center;
}

.nav-costom2 {
  height: 70px;
  width: 1155px;
}

#navdiv1 {
  background-color: red;
  margin: 0px auto;
  position: relative;
  width: 1400px;
}

.main-div {
  position: absolute;
}

.user-image {
  cursor: pointer;
}

.width-100 {
  width: 232px;
  z-index: 11;
  border: none;
  overflow: hidden;
}

.div-h {
  min-height: 800px !important;
}

.bgColor {
  background-color: #31384f;
  border-radius: 0 65px 0 0;
  position: fixed;
}

img {
  color: white;
}

.user-img {
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.dropimg {
  cursor: pointer;
  border-radius: 50%;
}

.dropdown {
  position: relative;
  display: inline;
  left: -100%;
}

.dropdown-content {
  display: none;
  border-radius: 10%;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}

.notifications-box {
  position: absolute;
  right: 60px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  padding: 10px 0;
}

.notification {
  padding: 10px;
}

.notification:nth-child(n + 2) {
  border-top: 1px solid black;
}

.unread {
  color: blue;
}
