<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Manage Customers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/dashboard/allpage.css" />
  <link rel="stylesheet" href="src/css/manageCustomers/manageCustomers.css" />
  <script src="js/manageCustomers/manageCustomers.js"></script>
</head>

<body>
  <%- include('../components/navigation')%>
    <section class="div-second managecustomer-section">
      <div class="managecustomer-container">
        <div class="managecustomer-container__button">
          <p class="addnewcustomerbutton" onclick="addNewCustomer()">Add New</p>
          <p class="customerfilterbutton" onclick="customerFilter()">Filter</p>
        </div>
      </div>
      <%- include('../form/customerForm')%>
    </section>
</body>

</html>