<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Customers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manageCustomers/manageCustomers.css" />
  <script src="js/manageCustomers/manageCustomers.js"></script>
  <script src="js/manageCustomers/manageCustomerInsert.js"></script>
  <script src="js/manageCustomers/manageCustomerUpdate.js"></script>
  <script src="js/commonFunction/commonFunction.js"></script>
  <script src="js/manageCustomers/manageCustomerFormValidation.js"></script>
  <script src="js/manageCustomers/manageCustomerFilter.js"></script>
  <script src="js/components/messagePopUp.js"></script>
  <script src="js/manageCustomers/manageCustomerFileUpload.js"></script>
</head>

<body onload="getCustomers()">
  <%- include('../components/navigation')%>
    <section class="div-second managecustomer-section">
      <div class="managecustomer-container" id="managecustomer-container">
        <%- include('../components/messagePopUp')%>
          <p class="managecustomerTitle">Customers</p>

          <div class="managecustomer-container__button">
            <p class="addnewcustomerbutton" onclick="addNewCustomer()">Add New</p>
            <p class="customerfilterbutton" onclick="customerFilterShow()">Filter</p>
          </div>
          <form enctype="multipart/form-data" id="customerFileUploadForm" name="customerFileUploadForm">
            <input type="file" name="customersFile" accept=".csv">
            <p onclick="customerFileUpload()">Upload File</p>
          </form>
      </div>
      <%- include('../form/customerForm')%>
        <%- include('../components/pagginationComponent')%>
    </section>
</body>

</html>