<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Store</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <script src="js/manageCustomers/manageCustomers.js"></script>
  <link rel="stylesheet" href="src/css/dashboard/dashboard.css" />
  <link rel="stylesheet" href="src/css/product/listingPageStyle.css">
  <link rel="stylesheet" href="src/css/allpage.css" />
  <style>

  </style>
</head>

<body>
  <%- include('../components/navigation')%>
    <div class="div-second">
      <div id="childbody">
        <header>
          <form class="form-inline form1 my-2 my-lg-0">
            <input class="form-control form2 mr-sm-2" type="search" placeholder="Search Product" aria-label="Search" />
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
              Search
            </button>
          </form>
        </header>
        <main>
          <section>
            <div class="container">
              <div class="row1">
                <h4>Products</h4>
                <button type="button" id="btn" class="btn btn-primary" onclick="openForm()">
                  Add Product
                </button>
              </div>
            </div>
          </section>
          <section>
            <div class="row row2">
              <div class="col-sm"><b>Id</b></div>
              <div class="col-sm"><b>Product Name</b></div>
              <div class="col-sm"><b>Quantity</b></div>
              <div class="col-sm"><b>Cost</b></div>
              <div class="col-sm"><b>Availability</b></div>
              <div class="col-sm"><b>Action</b></div>
            </div>

          </section>
        </main>
      </div>
    </div>
    <%- include('../form/storeForm')%>
</body>
<script>

  // open store

  async function openForm() {
    document.getElementById("myForm").style.display = "block";
    document.getElementById("insertStore").style.display = "block";
    document.getElementById("updateStore").style.display = "none";
    document.getElementById("childbody").style = `
-webkit-filter: blur(2px);
-moz-filter: blur(2px);
-o-filter: blur(2px);
-ms-filter: blur(2px);
filter: blur(2px); `;

    const response = await fetch('/api/getState', {
      method: 'GET'
    });

    try {
      if (!response.ok) {
        throw new Error("Can't get state");
      }

      if (response.status === 200) {
        const stateObject = await response.json();
        const stateArray = stateObject.stateArray;

        const stateSelectCombo = document.getElementById("stateSelectCombo");

        const optionCreate = document.createElement("option");
        optionCreate.innerHTML = "Select State";
        stateSelectCombo.appendChild(optionCreate);

        for (let element of stateArray) {
          const option = document.createElement("option");
          option.innerHTML = `${element.state_name}`;
          option.setAttribute("id", `state${element.state_id}`);
          option.setAttribute("value", `${element.state_name}`);
          stateSelectCombo.appendChild(option);
        }
      }
    } catch (error) {
      console.log(error);

      if (response.status === 404) {
        console.log("StateArray is empty");
      }
      if (response.status === 500) {
        console.log("Something went wrong");
      }
    }
  }

  // close form

  function closeForm() {
    document.getElementById("myForm").style.display = "none";
    document.getElementById("childbody").style = "none";
  }

  // delete store

  async function deleteStore(name) {
    let storeDelete = await fetch(`/deleteStore/${name}`, {
      method: "post",
      headers: { "Content-Type": "application/json" },
    });

    let response = await storeDelete.json();
    if (response.message == "Store Deleted") {
      window.location.href = "/store";
    }
  }

  // update store
  // async function updateFormData(){
  //   document.getElementById("myForm").style.display = "block";
  //     document.getElementById("insertStore").style.display = "none";
  //     document.getElementById("updateStore").style.display = "block";
  //     document.getElementById("childbody").style = `
  // -webkit-filter: blur(2px);
  // -moz-filter: blur(2px);
  // -o-filter: blur(2px);
  // -ms-filter: blur(2px);
  // filter: blur(2px); `;


  // const response = await fetch('/api/getState', {
  //       method: 'GET'
  //     });

  //     try {
  //       if (!response.ok) {
  //         throw new Error("Can't get state");
  //       }

  //       if (response.status === 200) {
  //         const stateObject = await response.json();
  //         const stateArray = stateObject.stateArray;

  //         const stateSelectCombo = document.getElementById("stateSelectCombo");

  //         const optionCreate = document.createElement("option");
  //         optionCreate.innerHTML = "Select State";
  //         stateSelectCombo.appendChild(optionCreate);

  //         for (let element of stateArray) {
  //           const option = document.createElement("option");
  //           option.innerHTML = `${element.state_name}`;
  //           option.setAttribute("id", `state${element.state_id}`);
  //           option.setAttribute("value", `${element.state_name}`);
  //           stateSelectCombo.appendChild(option);
  //         }
  //       }
  //     } catch (error) {
  //       console.log(error);

  //       if (response.status === 404) {
  //         console.log("StateArray is empty");
  //       }
  //       if (response.status === 500) {
  //         console.log("Something went wrong");
  //       }
  //     }

  // }
  //   async function updateForm(name) {

  //     let storeUpdate = await fetch(`/updateStore/${name}`, {
  //       method: "post",
  //       headers: { "Content-Type": "application/json" },
  //     });
  //   }

</script>

</html>