<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supplier</title>
  <style>
    .body {
      
      font-family: 'Nunito', sans-serif;
      color: #384047;
    }
    form {
      max-width: 1000px;
      margin: 10px auto;
      padding: 10px 20px;
      background: #f4f7f8;
      border-radius: 8px;

    }

    h1 {
      margin: 0 0 30px 0;
      text-align: center;
    }

    input[type="text"],
    input[type="password"],
    input[type="date"],
    input[type="datetime"],
    input[type="email"],
    input[type="number"],
    input[type="tel"],
    input[type="time"],
    input[type="url"],
    textarea,
    select {
      background: rgba(255, 255, 255, 0.1);
      border: none;
      font-size: 16px;
      height: 40px;
      margin: 0;
      outline: 0;
      padding: 15px;
      width: 100%;
      background-color: #e8eeef;
      color: #8a97a0;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
      margin-bottom: 30px;
    }


    select {
      padding: 6px;
      height: 32px;
      border-radius: 2px;
    }

    fieldset {
      margin-bottom: 30px;
      border: none;
    }

    legend {
      font-size: 1.4em;
      margin-bottom: 10px;
    }

    label {
      display: block;
      margin-bottom: 8px;
    }

    label.light {
      font-weight: 300;
      display: inline;
    }

    form {
      max-width: 480px;
    }
  </style>
</head>

<body class="body">
  <div class="row form-popup" id="myForm">
    <div class="col-md-12 " data-bs-spy="scroll">
      <form action="" method="">
        <div class="container">
          <h1>Manager Details</h1>
          <fieldset>
            <label for="fname">First Name :</label>
            <input type="text" id="fname" name="fame">

            <label for="lname">Last Name:</label>
            <input type="text" id="lname" name="lname">

            <label for="email">Email :</label>
            <input type="email" id="email" name="email">

            <label for="phonenumber">Phone No. :</label>
            <input type="text" id="phonenumber" name="phonenumber">

            <label for="address">Address2 :</label>
            <textarea name="address" id="address" cols="40" rows="2"></textarea>

            <label for="zipcode">Zipcode :</label>
            <input type="text" id="zipcode" name="zipcode" placeholder="3610005">

            <label for="city">City :</label>
            <input type="text" id="city" name="city" placeholder="Ahmedabad">

            <select id="state" name="state">
              <option value="gujarat">Gujarat</option>
              <option value="up">UP</option>
              <option value="mp">MP</option>
              <option value="jammukashmir">Jammu Kashmir</option>
            </select>

          </fieldset>
          <button type="submit" class="btn btn-outline-primary" onclick="closeForm()">Submit</button>
          <button type="reset" class="btn btn-outline-danger">Reset</button>
        </div>
      </form>
    </div>
  </div>

</body>

</html>