<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Supplier</title>
  <link rel="stylesheet" href="src/css/form.css">
</head>

<body>
  <div class="row form-popup" id="myForm">
    <div class="col-md-12">
      <form action="" method="">
        <h1>Supplier</h1>

        <fieldset>
          <label for="name">Name :</label>
          <input type="text" id="name" name="user_name">

          <label for="text">GST no. :</label>
          <input type="text" id="gst" name="user_email">

          <label for="text">Company Name :</label>
          <input type="text" id="name" name="name">

        </fieldset>
        <button type="submit" id="s1" class="btn btn-outline-primary" onclick="closeForm()">Submit</button>
        <button type="reset" class="btn btn-outline-danger">Reset</button>

      </form>
    </div>
  </div>

</body>

</html>