<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Managers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manager/manager.css" />

</head>

<body>
  <%- include('../components/navigation', {data})%>
    <%- include('./deletePopup')%>
      <section class="div-second manager-section">
        <div class="manager-container" id="managerGrid">
          <div class=" main1">
            <div class="header" id="head">
              <div>

                <img style="width: 40px; height: 40px;" src="icons/management.png" alt="">
              </div>

              <div class="mm2">
                <p class="h2">Managers</p>
              </div>
            </div>

            <div class="filter1">
              <div class="newAdd">
                <p class="btn btn-outline-dark filter1" onclick="addManager()">Add New</p>
              </div>
            </div>
          </div>
          <div id="filter" class="filter">

            <div class="filter3">
              <input class="form-control form2 mr-sm-2 w-40" type="search" id="input" placeholder="Search"
                onkeyup="search(this.value)" aria-label="Search" />
            </div>
            <div class="filter2"> <select onchange="managerFilter()" name="status"
                class="btn btn-secondary dropdown-toggle filter1" id="status">
                <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                  <option value="Active" selected>Active</option>
                  <option value="Inactive">Inactive</option>
                </div>
              </select></div>
          </div>
          <div class="grid" id="grid">
            <table class="table table-hover" id="table">
              <thead class="table-light" id="thead">
              </thead>
              <tbody id="tbody"></tbody>
            </table>
          </div>
        </div>
        <%- include('../form/managerForm')%>
          <%- include('../components/pagginationComponent')%>
      </section>
      <script src="js/commonFunction/commonFunction.js"></script>
      <script src="js/manager/manager.js"></script>
      <script src="js/manager/managerValidation.js"></script>


</body>

</html>