<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Customers</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manager/manager.css" />

</head>

<body>
  <%- include('../components/navigation')%>
    <section class="div-second manager-section">
      <div class="manager-container" id="managerGrid">
        <div class="filter">
          <p class="btn btn-outline-dark filter1" onclick="addManager()">Add New</p>
          <div class="filter1">
            <select onchange="managerFilter()" name="order" class="btn btn-secondary dropdown-toggle filter1"
              id="order">
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <option value="asc" selected>Ascending</option>
                <option value="desc">Descending</option>
              </div>
            </select>
          </div>

        </div>
        <div class="grid">
          <table class="table table-hover" id="table">
            <thead class="table-light" id="thead">
            </thead>
            <tbody id="tbody"></tbody>
          </table>
        </div>
      </div>
      <%- include('../form/managerForm')%>
        <%- include('../components/pagginationComponent')%>
    </section>
    <script src="js/commonFunction/commonFunction.js"></script>
    <script src="js/manager/manager.js"></script>
    <script src="js/manager/managerValidation.js"></script>


</body>

</html>