<form name="productForm" id="productForm" onsubmit="return false">
  <table class="productFormTable">
    <tr>
      <td>
        <input type="text" name="orderid" id="productOrderId" hidden />
      </td>
      <td>
        <!-- <label for="category">Category : </label> -->
        <select name="category" id="productCategory" tabindex="1" onchange="getProducts('')"
          class="productField category me-5 btn btn-secondary dropdown-toggle">
          <option value="" selected hidden>Select Category</option>
        </select>
      </td>
      <td>
        <!-- <label for="product">Products : </label> -->
        <select name="product" id="product" tabindex="2"
          class="productField product me-5 btn btn-secondary dropdown-toggle">
          <option value="" selected hidden>Select category first</option>
        </select>
      </td>
      <td>
        <!-- <label for="orderType" class="insertLabels ms-5">Type : </label> -->
        <select name="ordertype" tabindex="3" class=" btn btn-secondary dropdown-toggle" id="orderType">
          <option value="8">Sales</option>
          <option value="9">Return</option>
        </select>
      </td>
      <td>
        <input type="number" name="quantity" tabindex="4" id="quantity" placeholder="Quantity....."
          class="productField me-5 form-control" min="1" />
      </td>
      <td>
        <input type="submit" tabindex="5" value="ADD" class="productField me-5 btn btn-outline-success"
          onclick="addProduct()" />
      </td>
    </tr>
  </table>
</form>
<div class="productTableDiv">
  <table id="productList" class="table table-hover">
    <thead id="productListHead" class="table-light"></thead>
    <tbody id="productListBody"></tbody>
  </table>
</div>
<div id="productFooter">
  <p id="totalAmount"></p>
  <button type="button" class="btn btn-outline-primary">Generate PDF</button>
</div>