<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="temp.css" />
  <title>Document</title>
  <style>

  </style>
</head>

<body>
  <section class="invoice__section">
    <div class="invoice__container">
      <header class="invoice__header">
        <h1>Invoice</h1>
        <address>
          <p>
            <%=data.firstname%>
              <%=data.lastname%>
          </p>
          <p>
            <%=data.shipping_address%><br>
              <%=data.city_name%>,<br>
                <%=data.state_name%>
          </p>
          <p>
            <%=data.phonenumber%>
          </p>
        </address>
      </header>
      <div class="invoicetable__div">
        <div class="invoicetable__div">
          <table class="invoicecommon__tablestyle invoice__table">
            <tr>
              <th>Invoice #</th>
              <td>
                <%=data.order_id%>
              </td>
            </tr>
            <tr>
              <th>Date</th>
              <td>
                <%=data.order_date%>
              </td>
            </tr>
            <tr>
              <th>Amount Due</th>
              <td>$
                <%=data.amount%>
              </td>
            </tr>
          </table>
        </div>
        <table class="invoicecommon__tablestyle inventory__table">
          <thead>
            <tr>
              <th>Item</th>
              <th>SKU</th>
              <th>Rate</th>
              <th>Quantity</th>
              <th>Price</th>
            </tr>
          </thead>
          <tbody>
            <%for(ele of products){%>
              <tr>
                <td>
                  <%=ele.product_name%>
                </td>
                <td>
                  <%=ele.sku_id%>
                </td>
                <td>$
                  <%=ele.cost%>
                </td>
                <td>
                  <%=ele.quantity%>
                </td>
                <td>$
                  <%=ele.cost*ele.quantity%>
                    </span>
                </td>
              </tr>
              <%}%>
          </tbody>
        </table>
        <table class="invoicecommon__tablestyle balance__table">
          <tr>
            <th>Total</th>
            <td>$
              <%=data.amount%>
            </td>
          </tr>
          <tr>
            <th>Amount Paid</th>
            <td>$
              <%=(data.payment_status=='Pending'?0:data.amount)%>
            </td>
          </tr>
          <tr>
            <th>Balance Due</th>
            <td>$
              <%=(data.payment_status=='Pending'?data.amount:0)%>
            </td>
          </tr>
        </table>
      </div>

    </div>
  </section>
</body>

</html>