.pagginationsection {
  width: 100%;
  margin: 0 auto;
}

.pagginationcontainer {
  position: relative;
}

form {
  min-height: 280px;
}

input[type='search'] {
  padding: 5px;
  /* border-radius: 50px;
  outline: none; */
}

th,
td {
  text-align: center;
}

.pagenumber p {
  font-size: unset !important;
}

.outer-div {
  padding-left: 20px;
}
