.main-content {
	display: flex;
	width: 100vh;
	height: max-content;
}

.product-search {
	display: flex;
}

.edit-profile-btn {
	width: 100%;
	margin: 10px;
}

.search-query {
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}
