<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Supplier</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manageSuppliers/manageSuppliers.css" />
  <script src="js/manageSuppliers/manageSuppliers.js"></script>
  <script src="js/manageSuppliers/manageSupplierInsert.js"></script>
  <script src="js/manageSuppliers/manageSupplierUpdate.js"></script>
  <script src="js/commonFunction/commonFunction.js"></script>
  <script src="js/manageSuppliers/manageSuppliersFormValidation.js"></script>
  <script src="js/manageSuppliers/manageSuppliersFilter.js"></script>
  <script src="js/components/messagePopUp.js"></script>
  <script src="js/manageSuppliers/manageSupplierFileUpload.js"></script>
</head>

<body onload="getSuppliers()">
  <%- include('../components/navigation', {data})%>
    <section class="div-second managesupplier-section">
      <div class="managesupplier-container" id="managesupplier-container">
        <%- include('../components/messagePopUp')%>
        <div class="d-flex">
          <img src="icons/cust.png" alt="" width="60px" height="60px" style="margin-top: 15px;">&emsp;&emsp;
            <p class="managesupplierTitle">Suppliers</p>
        </div>
          <div class="managesupplier-container__button">
            <p class="addnewsupplierbutton" onclick="addNewSupplier()">Add New</p>
            <p class="supplierfilterbutton" onclick="supplierFilterShow()">Filter</p>
          </div>
          <div class="importDataDiv">
            <p class="importDataButton" onclick="showFileUpload()">Import Data</p>
            <form enctype="multipart/form-data" id="supplierFileUploadForm" name="supplierFileUploadForm">
              <input type="file" id="suppliersFile" name="suppliersFile" accept=".csv">
              <p id="fileUploadButton" onclick="supplierFileUpload()">Upload File</p>
            </form>
          </div>

      </div>
      <%- include('../form/supplierForm')%>
        <%- include('../components/pagginationComponent')%>
    </section>
</body>

</html>