<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Manage Supplier</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
  <link rel="stylesheet" href="src/css/manageSuppliers/manageSuppliers.css" />
  <script src="js/manageSuppliers/manageSuppliers.js"></script>
  <script src="js/manageSuppliers/manageSupplierInsert.js"></script>
  <script src="js/manageSuppliers/manageSupplierUpdate.js"></script>
  <script src="js/commonFunction/commonFunction.js"></script>
  <script src="js/manageSuppliers/manageSuppliersFormValidation.js"></script>
  <script src="js/manageSuppliers/manageSuppliersFilter.js"></script>
  <script src="js/components/messagePopUp.js"></script>
</head>

<body onload="getSuppliers()">
  <%- include('../components/navigation', {data})%>
    <section class="div-second managesupplier-section">
      <div class="managesupplier-container" id="managesupplier-container">
        <%- include('../components/messagePopUp')%>
          <p class="managesupplierTitle">Suppliers</p>
          <div class="managesupplier-container__button">
            <p class="addnewsupplierbutton" onclick="addNewSupplier()">Add New</p>
            <p class="supplierfilterbutton" onclick="supplierFilterShow()">Filter</p>
          </div>
      </div>
      <%- include('../form/supplierForm')%>
        <%- include('../components/pagginationComponent')%>
    </section>
</body>

</html>