#myForm {
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
}

.filter1 {
  justify-content: end;
  display: flex;
  gap: 15px;
}
.filter {
  padding-top: 2%;
}
#status {
  margin: 10px 10px;
}
.filter2 {
  width: 11%;
  margin: -7px;
}
.newAdd {
  width: 9%;
}
.grid {
  margin-top: 3%;
  height: 100dvh;
  overflow: scroll;
}
#order {
  margin: 3px;
}
th,
td {
  padding: 10px;
}
.deleteButton {
  cursor: pointer;
}
.editButton {
  cursor: pointer;
}
span {
  display: flex;
}
