#myForm {
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
}

.filter1 {
  justify-content: end;
  display: flex;
  gap: 15px;
}
.filter {
  padding-top: 2%;
  padding-right: 34px;
}
#status {
  margin: 10px 10px;
}
.filter2 {
  width: 11%;
  margin: -7px;
}
.newAdd {
  width: 9%;
}
.grid {
  margin-top: 3%;
  overflow: scroll;
}
#order {
  margin: 3px;
}
th,
td {
  padding: 10px;
}
.deleteButton {
  cursor: pointer;
}
.editButton {
  cursor: pointer;
}
span {
  display: flex;
}
td,
th {
  text-align: center;
}
.manager-container {
  padding: 0 10px;
}
.manager1 {
  margin-top: 45px;
  margin-left: 23px;
}
.s1 {
  text-align: center;
  font-size: 30px;
  font-weight: 400;
  margin-top: 60px;
  margin-left: 14px;
}
.header {
  text-align: center;
  gap: 6px;
}
