* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#myForm {
  display: none;
  position: absolute;
  top: 0%;
  left: 30%;
  z-index: 1;
}

#closeCustomerForm {
  cursor: pointer;
  color: red;
  text-align: right;
}
