:root {
  --managecustomersection: #f0f1f3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.managecustomer-section {
  max-width: 1200px;
  background-color: var(--managecustomersection);
}

.managecustomer-container {
  padding: 20px;
  margin: 0 auto;
}
