.container {
	width: 95%;
	display: flex;
	justify-content: center;
	flex-direction: column;
}

#insertFormDiv {
	width: 100%;
<<<<<<< HEAD
	padding: 3rem 0;
=======
	margin-top: 100px;
>>>>>>> main
}
#insertForm {
	width: 100%;
}
#productFormDiv {
	display: none;
}

.title {
  padding: 27px 0;

}

.productTableDiv{
	height: 50dvh;
	overflow: scroll;
	margin-top: 5%;
}
#productFooter {
  text-align: center;
  margin: 3rem auto;
}
#productListHead{
	position: sticky;
	top: 0;
}
.editQuantity{
	width: 5rem;
}