/* .container {
  margin: 33px 28px 47px 245px;
  width: auto;
} */
.allfilters {
  justify-content: end;
  display: flex;
}
.filter {
  margin-left: 1%;
}
.grid {
  height: 60dvh;
  overflow: scroll;
  margin-top: 5%;
}
.insertFields {
  margin-bottom: 2%;
}
.insertLabels {
  margin-bottom: 1%;
}
#insertSubmit {
  width: 100%;
}
#gridComponent {
  padding-top: 3%;
  width: 95%;
  margin: 0 auto;
}
#tbody {
  overflow-y: scroll;
}

#thead {
  position: sticky;
  top: 0;
}

#searchbar {
  margin-right: auto;
  width: auto;
}
