/* .container {
  margin: 33px 28px 47px 245px;
  width: auto;
} */
.allfilters {
  justify-content: end;
  display: flex;
}
.filter {
  margin-right: 1%;
  display: flex;
  align-items: center;
}
.grid {
  height: 60dvh;
  overflow: scroll;
  margin-top: 5%;
}
.insertFields {
  margin-bottom: 2%;
}
.insertLabels {
  margin-bottom: 1%;
}
#insertSubmit {
  width: 100%;
}
#gridComponent {
  padding-top: 3%;
  width: 95%;
  margin: 0 auto;
}
#tbody {
  overflow-y: scroll;
}

#thead {
  position: sticky;
  top: 0;
}
.deleted {
  text-align: center;
  font-weight: bold;
}
#searchbar {
  margin-right: auto;
  width: auto;
}
th{
  background-color: #002f4b !important;
  color: white !important;
}
#paggination {
  display: flex;
  justify-content: center;
}