<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/dashboard/allpage.css" />
  <link rel="stylesheet" href="src/css/allpage.css">
  <link rel="stylesheet" href="src/css/profile/profileStyle.css">
  <link rel="stylesheet" href="src/css/products/listingPageStyle.css">
</head>

<body>
  <%- include("../components/navigation")%>
    <div class="div-second">
      <div class="container main-container profile-details main-content">
        <div class="product-search">
          <div>
            <input type="text" class="search-query" name="" id="" placeholder="Search product">
          </div>
          <div><button class="edit-profile-btn">Search</button></div>
        </div>
        <div class="product-list">
          <table>
            <th>1</th>
            <th>2</th>
            <th>3</th>
            <th>4</th>
            <th></th>
          </table>
        </div>
      </div>
    </div>
</body>

</html>