<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Purchase</title>
  <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
  <script src="/js/bootstrap.js"></script>
  <link rel="stylesheet" href="src/css/allpage.css" />
</head>

<body>
  <%- include('../components/navigation.ejs') %>
    <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModal" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title" id="deleteModal">Delete Product</h1>
            <button type="button" class="btn-close" onclick="modelHide()" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            Are you sure you want to delete this product ?
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="modelHide()" data-bs-dismiss="modal">No</button>
            <button type="button" id="confirm" class="btn btn-danger">Yes</button>
          </div>
        </div>
      </div>
    </div>
    <div class="div-second pt-3">
      <!-- <div class="d-flex mb-5 justify-content-end">
        <button type="button" id="newForm" class="btn btn-outline-dark"
          onclick="document.getElementById('newForm').disabled = true; generateForm1(8)">
          + New
        </button>
      </div> -->
      <div class="mt-5" id="root">
      </div>
    </div>
</body>
<script src="/js/purchase/index.js"></script>

</html>